body {
    width: 100vw;
    height: 100vh;
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('fundo.jpg');
    overflow: hidden;
}

.home-main {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    align-items: end;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.363);
    border: 1px solid white;
}

.home-text-area {
    height: 100%;
    padding: 0 50px;
    padding-top: 90px;
}

.home-text-area h1 {
    font-size: 50px;
    text-shadow: 0 0 5px;
}

.home-text-area h1.nome {
    font-size: 80px;
    color: aqua;

}

.home-text-area h1.cargo {
    color: rgb(255, 46, 150);
}

.cards-servicos {
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* background-color: blueviolet; */
}

.glass-card {
    width: 30%;
    height: 250px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}

.glass-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.glass-card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
}

.glass-card:hover {
    background: rgba(14, 253, 213, 0.089);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.glass-card a {
    width: 100%; height: 100%;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.glass-card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.glass-card h2 {
    font-size: 20px;
}

.lista-tecnologias{
    width: 100%;
    margin-top: 130px;
    display: flex;
    gap: 20px;
}

.lista-tecnologias li{
    font-size: 20px;
}

.img-avatar-karla-kirchhoff {
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: end;
    background-image: url('art-karla-kirchhoff.png');
    background-size: cover;
    background-position: center 0;
}

.img-avatar-karla-kirchhoff ul {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.img-avatar-karla-kirchhoff ul li{
    width: 100%;
}

.img-avatar-karla-kirchhoff ul img{
    width: 100%;
}

