.container {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px 30px;
}

@media (max-width: 705px) {
    .container {
        padding: 0 5%;
    }
}

@media (max-width: 590px) {
    .container {
        padding: 0;
    }
}