/* banner */
.banner{
    width: 90%;
    max-width: var(--max-width-dsktp);
    margin: 50px auto 70px auto;
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    background-color: var(--cor-branco-transp);
    transition: var(--bk-transition);
}

.banner:hover{
    background-color: transparent;
    outline: var(--borda);
}

.texto-banner{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.texto-banner h1{
    font-size: 56px;
}

.texto-banner > p{
    font-size: 32px;
}

.texto-banner .btn{
    width: 50%;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    text-align: center;
    background-color: var(--cor-branco2);
    transition: var(--bk-transition);
}

.texto-banner .btn:hover{
    background-color: transparent;
    border: var(--borda);
    cursor: pointer;
}

.img-banner{
    display: flex;
    justify-content: end;
}

.img-banner div{
    width: 300px; height: 300px;
}

.img-banner div img{
    width: 100%; height: 100%;
    object-fit: cover;
}

/* container */
.container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding: 0 10px;
}

.texto p{
    font-family: 'Farsan', sans-serif;
    font-size: var(--tamanho-p);
}

.grid-icons{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-icons > div{
    margin: 0 var(--sec-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto{
    width: 70%;
    position: relative;
}

.texto h2{
    height: var(--altura-sec-h2);
    position: absolute;
    top: calc(var(--altura-sec-h2)/-2);
    left: calc(50% - 175px);
    background-color: var(--cor-fundo);
    border-left: var(--borda);
    border-right: var(--borda);
}

.sobre-mim .texto h2{
    width: 300px;
}
.tecnologias{
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* seção de cursos */
.sec-list{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 0 15px;
}

.sec-list h5{
    margin: 10px 0 5px 0;
}

.sec-list > div{
    padding-top: 0;
}

.list-item{
    border-bottom: var(--borda);
    margin-top: 5px;
}

.info-list-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.info-list-item .nome-instituicao{
    width: 20%;
    text-transform: capitalize;
}

.info-list-item .nome-curso{
    width: 60%;
    text-align: left;
    padding-left: 8px;
    text-transform: capitalize;
    border-left: var(--borda);
    border-right: var(--borda);
}

.info-list-item .nome-curso > span.linguagens{
    display: block;
    text-decoration: underline;
    margin-top: 5px;
}

.list-item > span{
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.list-item .info-curso{
    display: none !important;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px ;
    background-color: rgba(0, 0, 0, 0.829);
}

.list-item .info-curso.ativo{
    display: flex !important;
}

.list-item .info-curso .fechar-item{
    font-size: 17px;
    padding: 10px 0;
    background-color: transparent;
    border: var(--borda);
}

.list-item .info-curso > div{
    display: flex;
    gap: 30px;
}

.list-item .info-curso ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item .info-curso li{
    list-style: circle;
    text-transform: capitalize;
}

.list-item .info-curso img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 800px){
    .banner{
        padding: 30px;
    }

    .img-banner div{
        width: 200px; height: 200px;
    }

    .texto-banner h1{
        font-size: 30px;
    }
    
    .texto-banner > p{
        font-size: 18px;
    }

    .texto-banner .btn{
        width: 90%;
    }

    .texto{
        width: 60%;
    }

    .texto p{
        font-size: 20px;
    }

    .grid-icons{
        width: 20%;
    }
}

@media (max-width: 720px){

    .grid-icons > div{
        gap: 5px;
    }

    #sobreMim-interesses > div{
        flex-direction: column;
    }

    .grid-icons > div small, .grid-icons > div ion-icon{
        width: 100%;
    }

    .grid-icons > div ion-icon{
        font-size: 20px;
    }

    .grid-icons > div small{
        text-align: center;
    }

}

@media (max-width: 602px){
    .texto-banner .btn{
        font-weight: 700;
    }
    
    .sec-escolaridade{
        gap: 20px;
    }
}

@media (max-width: 515px){
    .banner{
        margin: 30px 20px;
    }

    .texto-banner h1{
        font-size: 25px;
    }

    .texto-banner > p{
        font-size: 15px;
    }

    .texto-banner .btn{
        font-size: 12px;
    }

    .img-banner div{
        width: 150px; height: 150px;
    }

    #sobreMim-index{
        flex-direction: column;
    }

    #sobreMim-index > div{
        width: 100%;
    }

    .grid-icons{
        padding: 0 !important;
        margin: 20px 0;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .grid-icons > div{
        background-color: #1E1E1E;
        margin: 0;
    }

    #sobreMim-interesses{
        margin-bottom: 30px;
    }

    #sobreMim-texto h2{
        position: relative !important;
    }

    #sobreMim-texto p{
        padding: 0 30px;
    }

    .sec-escolaridade p{
        font-size: 13px;
    }

    .info-list-item .nome-curso{
        margin: 0 8px;
    }
}

@media (max-width: 450px){
    .banner{
        padding: 20px;
    }

    .texto-banner{
        gap: 10px;
    }

    .texto-banner > p{
        font-size: 12px;
    }

    .img-banner div{
        width: 110px; height: 130px;
    }
}

@media (max-width: 339px){

    .texto-banner h1{
        font-size: 17px;
    }

    .texto-banner > p{
        font-size: 12px;
    }

    .texto-banner .btn{
        font-size: 10px;
    }

    .img-banner div{
        width: 110px; height: 150px;
    }
}

@media (max-width: 304px){
    .banner{
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .img-banner div{
        width: 100%; height: 150px;
    }

    .texto-banner .btn{
        width: 100%;
        font-size: 12px;
    }

    .texto-banner h1, .texto-banner > p{
        text-align: center;
    }

}