

/* container */
.container{
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    padding: 0 10px;
}

.texto p{
    font-family: 'Farsan', sans-serif;
    font-size: var(--tamanho-p);
}

.grid-icons{
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid-icons > div{
    margin: 0 var(--sec-padding);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.texto{
    width: 70%;
    position: relative;
}

.texto h2{
    height: var(--altura-sec-h2);
    position: absolute;
    top: calc(var(--altura-sec-h2)/-2);
    left: calc(50% - 175px);
    background-color: var(--cor-fundo);
    border-left: var(--borda);
    border-right: var(--borda);
}

.sobre-mim .texto h2{
    width: 300px;
}
.tecnologias{
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* seção de cursos */
.sec-list{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 0 15px;
}

.sec-list h5{
    margin: 10px 0 5px 0;
}

.sec-list > div{
    padding-top: 0;
}

.list-item{
    border-bottom: var(--borda);
    margin-top: 5px;
}

.info-list-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
}

.info-list-item .nome-instituicao{
    width: 20%;
    text-transform: capitalize;
}

.info-list-item .nome-curso{
    width: 60%;
    text-align: left;
    padding-left: 8px;
    text-transform: capitalize;
    border-left: var(--borda);
    border-right: var(--borda);
}

.info-list-item .nome-curso > span.linguagens{
    display: block;
    text-decoration: underline;
    margin-top: 5px;
}

.list-item > span{
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.list-item .info-curso{
    display: none !important;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px ;
    background-color: rgba(0, 0, 0, 0.829);
}

.list-item .info-curso.ativo{
    display: flex !important;
}

.list-item .info-curso .fechar-item{
    font-size: 17px;
    padding: 10px 0;
    background-color: transparent;
    border: var(--borda);
}

.list-item .info-curso > div{
    display: flex;
    gap: 30px;
}

.list-item .info-curso ol{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-item .info-curso li{
    list-style: circle;
    text-transform: capitalize;
}

.list-item .info-curso img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

@media (max-width: 800px){
    .texto{
        width: 60%;
    }

    .texto p{
        font-size: 20px;
    }

    .grid-icons{
        width: 20%;
    }
}

@media (max-width: 720px){

    .grid-icons > div{
        gap: 5px;
    }

    #sobreMim-interesses > div{
        flex-direction: column;
    }

    .grid-icons > div small, .grid-icons > div ion-icon{
        width: 100%;
    }

    .grid-icons > div ion-icon{
        font-size: 20px;
    }

    .grid-icons > div small{
        text-align: center;
    }

}

@media (max-width: 602px){
    .sec-escolaridade{
        gap: 20px;
    }
}

@media (max-width: 515px){


    #sobreMim-index{
        flex-direction: column;
    }

    #sobreMim-index > div{
        width: 100%;
    }

    .grid-icons{
        padding: 0 !important;
        margin: 20px 0;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .grid-icons > div{
        background-color: #1E1E1E;
        margin: 0;
    }

    #sobreMim-interesses{
        margin-bottom: 30px;
    }

    #sobreMim-texto h2{
        position: relative !important;
    }

    #sobreMim-texto p{
        padding: 0 30px;
    }

    .sec-escolaridade p{
        font-size: 13px;
    }

    .info-list-item .nome-curso{
        margin: 0 8px;
    }
}
