/* container */

.glass {
    position: relative;
    background: rgba(95, 95, 95, 0.10);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    box-shadow:
        0 8px 32px rgba(0, 0, 0, 0.1),
        inset 0 1px 0 rgba(255, 255, 255, 0.5),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1),
        inset 0 0 0px 0px rgba(255, 255, 255, 0);
}

.glass::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: linear-gradient(90deg,
            transparent,
            rgba(255, 255, 255, 0.8),
            transparent);
}

.glass::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.8),
            transparent,
            rgba(255, 255, 255, 0.3));
}

.container {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: url('/img/bg/fundo-cidade-cyberpunk.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.grid-icons {
    width: 90%;
    margin: 0 auto 120px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    gap: 70px;
}

.grid-icons>div {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 20px solid white;
}

.grid-icons .area-icone {
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.grid-icons ion-icon {
    font-size: 50px;
    color: rgb(208, 226, 43);
}

.grid-icons small {
    width: 100%;
    padding: 10px 0;
    font-size: 22px;
    text-align: center;
    color: black;
    background-color: white;
}


.tecnologias {
    display: flex;
    flex-direction: column;
    align-items: end;
}

section.projetos {
    width: 100%;
    padding-bottom: 100px;
}

section.projetos h2 {
    width: 50%;
    margin: 90px auto 60px auto;
    padding: 20px;
    color: rgb(250, 114, 255);
    text-shadow: 0 0 15px rgb(247, 0, 255);
    border: 2px solid rgb(247, 0, 255);
    box-shadow: 0 0 15px rgb(247, 0, 255);
}

@media (max-width: 1317px) {
    .grid-icons {
        width: 70%;
    }
}


@media (max-width: 973px) {
    .grid-icons {
        width: 90%;
    }
}

@media (max-width: 760px) {
    .grid-icons {
        width: 70%;
    }
}

@media (max-width: 720px) {

    .grid-icons>div {
        gap: 5px;
    }

}

@media (max-width: 630px) {
    #sobreMim-texto p {
        text-align: center;
    }
}

@media (max-width: 617px) {
    .grid-icons {
        width: 90%;
    }
}

@media (max-width: 602px) {
    .sec-escolaridade {
        gap: 20px;
    }
}

@media (max-width: 515px) {
    .grid-icons {
        margin-top: 20px;
        gap: 50px;
    }

    .grid-icons>div {
        width: 150px;
        gap: 0;
        border: 15px solid white;
    }

    .grid-icons .area-icone {
        width: 120px;
        height: 120px;
    }

    .grid-icons small {
        padding: 5px 0;
        font-size: 20px;
    }

    .sec-escolaridade p {
        font-size: 13px;
    }

    .info-list-item .nome-curso {
        margin: 0 8px;
    }
}

@media (max-width: 451px) {
    .grid-icons {
        gap: 30px;
    }

    .grid-icons>div {
        width: 130px;
        gap: 0;
        border: 15px solid white;
    }

    .grid-icons .area-icone {
        width: 100px;
        height: 100px;
    }

    .grid-icons ion-icon {
        font-size: 35px;
    }

    .grid-icons small {
        font-size: 18px;
        font-weight: bold;
    }
}

@media (max-width: 434px) {

    section.projetos h2 {
        width: 80%;
        margin: 90px auto 60px auto;
        padding: 15px;
        color: rgb(250, 114, 255);
        text-shadow: 0 0 15px rgb(247, 0, 255);
        border: 2px solid rgb(247, 0, 255);
        box-shadow: 0 0 15px rgb(247, 0, 255);
    }
}

@media (max-width: 383px) {
    .grid-icons small {
        font-size: 15px;
    }
}